@mixin btn(){
    background-color: $secondary;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border:0;
}




@each $key, $val in $colors{
    .btn-#{$key}{
        @include btn();
        padding: $base-padding $base-padding*2;
        border-radius: $base-border-radius;
        background-color: $val;
    }
}