h1 {
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.02em;
}

h2 {
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.02em;
}

h3 {
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.01em;
}

h4 {
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0;
}

title {
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0;
}

body {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
}

small {
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0;
}

button {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.gap-0 > * {
  padding: 0;
}

.gap-1 > * {
  padding: 8px;
}

.gap-2 > * {
  padding: 12px;
}

.gap-3 > * {
  padding: 24px;
}

.justify-flex-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 0) {
  .col-1-xs {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 8.33333%;
  }
  .col-2-xs {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 16.66667%;
  }
  .col-3-xs {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 25%;
  }
  .col-4-xs {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 33.33333%;
  }
  .col-5-xs {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 41.66667%;
  }
  .col-6-xs {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 50%;
  }
  .col-7-xs {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 58.33333%;
  }
  .col-8-xs {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 66.66667%;
  }
  .col-9-xs {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 75%;
  }
  .col-10-xs {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 83.33333%;
  }
  .col-11-xs {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 91.66667%;
  }
  .col-12-xs {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 100%;
  }
}

@media (min-width: 576px) {
  .col-1-sm {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 8.33333%;
  }
  .col-2-sm {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 16.66667%;
  }
  .col-3-sm {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 25%;
  }
  .col-4-sm {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 33.33333%;
  }
  .col-5-sm {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 41.66667%;
  }
  .col-6-sm {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 50%;
  }
  .col-7-sm {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 58.33333%;
  }
  .col-8-sm {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 66.66667%;
  }
  .col-9-sm {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 75%;
  }
  .col-10-sm {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 83.33333%;
  }
  .col-11-sm {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 91.66667%;
  }
  .col-12-sm {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .col-1-md {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 8.33333%;
  }
  .col-2-md {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 16.66667%;
  }
  .col-3-md {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 25%;
  }
  .col-4-md {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 33.33333%;
  }
  .col-5-md {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 41.66667%;
  }
  .col-6-md {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 50%;
  }
  .col-7-md {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 58.33333%;
  }
  .col-8-md {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 66.66667%;
  }
  .col-9-md {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 75%;
  }
  .col-10-md {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 83.33333%;
  }
  .col-11-md {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 91.66667%;
  }
  .col-12-md {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .col-1-lg {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 8.33333%;
  }
  .col-2-lg {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 16.66667%;
  }
  .col-3-lg {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 25%;
  }
  .col-4-lg {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 33.33333%;
  }
  .col-5-lg {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 41.66667%;
  }
  .col-6-lg {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 50%;
  }
  .col-7-lg {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 58.33333%;
  }
  .col-8-lg {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 66.66667%;
  }
  .col-9-lg {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 75%;
  }
  .col-10-lg {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 83.33333%;
  }
  .col-11-lg {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 91.66667%;
  }
  .col-12-lg {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-1-xl {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 8.33333%;
  }
  .col-2-xl {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 16.66667%;
  }
  .col-3-xl {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 25%;
  }
  .col-4-xl {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 33.33333%;
  }
  .col-5-xl {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 41.66667%;
  }
  .col-6-xl {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 50%;
  }
  .col-7-xl {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 58.33333%;
  }
  .col-8-xl {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 66.66667%;
  }
  .col-9-xl {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 75%;
  }
  .col-10-xl {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 83.33333%;
  }
  .col-11-xl {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 91.66667%;
  }
  .col-12-xl {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 100%;
  }
}

.text-error {
  color: #7A1000;
}

.bg-error {
  background-color: #7A1000;
}

.text-1-light-error {
  color: #f2e7e6;
}

.bg-error-light-1 {
  background-color: #f2e7e6;
}

.text-2-light-error {
  color: #e4cfcc;
}

.bg-error-light-2 {
  background-color: #e4cfcc;
}

.text-3-light-error {
  color: #d7b7b3;
}

.bg-error-light-3 {
  background-color: #d7b7b3;
}

.text-4-light-error {
  color: #ca9f99;
}

.bg-error-light-4 {
  background-color: #ca9f99;
}

.text-warning {
  color: #612D00;
}

.bg-warning {
  background-color: #612D00;
}

.text-1-light-warning {
  color: #efeae6;
}

.bg-warning-light-1 {
  background-color: #efeae6;
}

.text-2-light-warning {
  color: #dfd5cc;
}

.bg-warning-light-2 {
  background-color: #dfd5cc;
}

.text-3-light-warning {
  color: #d0c0b3;
}

.bg-warning-light-3 {
  background-color: #d0c0b3;
}

.text-4-light-warning {
  color: #c0ab99;
}

.bg-warning-light-4 {
  background-color: #c0ab99;
}

.text-success {
  color: #19311E;
}

.bg-success {
  background-color: #19311E;
}

.text-1-light-success {
  color: #e8eae9;
}

.bg-success-light-1 {
  background-color: #e8eae9;
}

.text-2-light-success {
  color: #d1d6d2;
}

.bg-success-light-2 {
  background-color: #d1d6d2;
}

.text-3-light-success {
  color: #bac1bc;
}

.bg-success-light-3 {
  background-color: #bac1bc;
}

.text-4-light-success {
  color: #a3ada5;
}

.bg-success-light-4 {
  background-color: #a3ada5;
}

.text-yellow {
  color: #664400;
}

.bg-yellow {
  background-color: #664400;
}

.text-1-light-yellow {
  color: #f0ece6;
}

.bg-yellow-light-1 {
  background-color: #f0ece6;
}

.text-2-light-yellow {
  color: #e0dacc;
}

.bg-yellow-light-2 {
  background-color: #e0dacc;
}

.text-3-light-yellow {
  color: #d1c7b3;
}

.bg-yellow-light-3 {
  background-color: #d1c7b3;
}

.text-4-light-yellow {
  color: #c2b499;
}

.bg-yellow-light-4 {
  background-color: #c2b499;
}

.text-purple {
  color: #29204b;
}

.bg-purple {
  background-color: #29204b;
}

.text-1-light-purple {
  color: #eae9ed;
}

.bg-purple-light-1 {
  background-color: #eae9ed;
}

.text-2-light-purple {
  color: #d4d2db;
}

.bg-purple-light-2 {
  background-color: #d4d2db;
}

.text-3-light-purple {
  color: #bfbcc9;
}

.bg-purple-light-3 {
  background-color: #bfbcc9;
}

.text-4-light-purple {
  color: #a9a6b7;
}

.bg-purple-light-4 {
  background-color: #a9a6b7;
}

.text-blue {
  color: #094652;
}

.bg-blue {
  background-color: #094652;
}

.text-1-light-blue {
  color: #e6edee;
}

.bg-blue-light-1 {
  background-color: #e6edee;
}

.text-2-light-blue {
  color: #cedadc;
}

.bg-blue-light-2 {
  background-color: #cedadc;
}

.text-3-light-blue {
  color: #b5c8cb;
}

.bg-blue-light-3 {
  background-color: #b5c8cb;
}

.text-4-light-blue {
  color: #9db5ba;
}

.bg-blue-light-4 {
  background-color: #9db5ba;
}

.text-neutral {
  color: #f7f6f9;
}

.bg-neutral {
  background-color: #f7f6f9;
}

.text-1-light-neutral {
  color: #fefefe;
}

.bg-neutral-light-1 {
  background-color: #fefefe;
}

.text-2-light-neutral {
  color: #fdfdfe;
}

.bg-neutral-light-2 {
  background-color: #fdfdfe;
}

.text-3-light-neutral {
  color: #fdfcfd;
}

.bg-neutral-light-3 {
  background-color: #fdfcfd;
}

.text-4-light-neutral {
  color: #fcfbfd;
}

.bg-neutral-light-4 {
  background-color: #fcfbfd;
}

.text-white {
  color: #ffffff;
}

.bg-white {
  background-color: #ffffff;
}

.text-1-light-white {
  color: white;
}

.bg-white-light-1 {
  background-color: white;
}

.text-2-light-white {
  color: white;
}

.bg-white-light-2 {
  background-color: white;
}

.text-3-light-white {
  color: white;
}

.bg-white-light-3 {
  background-color: white;
}

.text-4-light-white {
  color: white;
}

.bg-white-light-4 {
  background-color: white;
}

.text-black {
  color: #100f16;
}

.bg-black {
  background-color: #100f16;
}

.text-1-light-black {
  color: #e7e7e8;
}

.bg-black-light-1 {
  background-color: #e7e7e8;
}

.text-2-light-black {
  color: #cfcfd0;
}

.bg-black-light-2 {
  background-color: #cfcfd0;
}

.text-3-light-black {
  color: #b7b7b9;
}

.bg-black-light-3 {
  background-color: #b7b7b9;
}

.text-4-light-black {
  color: #9f9fa2;
}

.bg-black-light-4 {
  background-color: #9f9fa2;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 1px solid #cc8800;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 2, 0, 0.1);
          box-shadow: 1px 3px 5px rgba(0, 2, 0, 0.1);
  border-radius: 10px;
  height: 220px;
}

.card .card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.card .card-body {
  font-size: 1rem;
}

.card .card-body a {
  text-decoration: underline;
}

.btn-error {
  background-color: #45ABC4;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #7A1000;
}

.btn-warning {
  background-color: #45ABC4;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #612D00;
}

.btn-success {
  background-color: #45ABC4;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #19311E;
}

.btn-yellow {
  background-color: #45ABC4;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #664400;
}

.btn-purple {
  background-color: #45ABC4;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #29204b;
}

.btn-blue {
  background-color: #45ABC4;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #094652;
}

.btn-neutral {
  background-color: #45ABC4;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #f7f6f9;
}

.btn-white {
  background-color: #45ABC4;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ffffff;
}

.btn-black {
  background-color: #45ABC4;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #100f16;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.75rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4.5rem;
}

.p-5 {
  padding: 6rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.75rem;
}

.pl-2 {
  padding-left: 1.5rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4.5rem;
}

.pl-5 {
  padding-left: 6rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.75rem;
}

.pr-2 {
  padding-right: 1.5rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4.5rem;
}

.pr-5 {
  padding-right: 6rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.75rem;
}

.pt-2 {
  padding-top: 1.5rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4.5rem;
}

.pt-5 {
  padding-top: 6rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.75rem;
}

.pb-2 {
  padding-bottom: 1.5rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4.5rem;
}

.pb-5 {
  padding-bottom: 6rem;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.75rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4.5rem;
}

.m-5 {
  margin: 6rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.75rem;
}

.ml-2 {
  margin-left: 1.5rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4.5rem;
}

.ml-5 {
  margin-left: 6rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.75rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4.5rem;
}

.mr-5 {
  margin-right: 6rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.75rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4.5rem;
}

.mt-5 {
  margin-top: 6rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4.5rem;
}

.mb-5 {
  margin-bottom: 6rem;
}

.o-10 {
  opacity: 0.1;
}

.o-20 {
  opacity: 0.2;
}

.o-30 {
  opacity: 0.3;
}

.o-40 {
  opacity: 0.4;
}

.o-50 {
  opacity: 0.5;
}

.o-60 {
  opacity: 0.6;
}

.o-70 {
  opacity: 0.7;
}

.o-80 {
  opacity: 0.8;
}

.o-90 {
  opacity: 0.9;
}

.o-100 {
  opacity: 1;
}

.br {
  border-radius: 20px;
}

.br-none {
  border-radius: 0;
}

.br-xs {
  border-radius: 5px;
}

.br-sm {
  border-radius: 10px;
}

.br-lg {
  border-radius: 40px;
}

.br-full {
  border-radius: 50%;
}

.display-n {
  display: none;
}

.display-b {
  display: block;
}

.display-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.display-i {
  display: inline;
}

.display-i-b {
  display: inline-block;
}

.font-sm {
  font-size: 14px;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.5rem;
}

.font-xl {
  font-size: 2rem;
}

.font-xxl {
  font-size: 2.5rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #fec048;
  color: #e8e7e4;
}
/*# sourceMappingURL=index.css.map */